<div class="text-4xl text-sky-950 leading-relaxed">
  <span class="font-serif text-4xl font-black">&ldquo;</span><span
    class="italic"><slot /></span
  ><span class="font-serif text-4xl font-black">&rdquo;</span>
</div>
