---
// this template is like
// +----------------------------------+
// |               Title              |
// +----------------------------------+
// | Left content    |  Right content |
// +----------------------------------+
---

<div class="flex gap-8 px-16 flex-col">
  <slot />
</div>
