---
import SlideLayout from "../../layouts/SlideLayout.astro";
import Title from "../../components/astro/Title.astro";
import Left from "../../components/astro/Left.astro";
import Right from "../../components/astro/Right.astro";
import List from "../../components/astro/List.astro";
import Code from "../../components/astro/Code.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";

const title = "Secret #2: network like a boss";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <List>
          <li>
            Go to conferences or meetups 👉 A little bit of planning is required
          </li>
          <li>Join online communities: Twitch, Telegram, Reddit, TikTok...</li>
          <li>
            Looking for a job? LinkedIn is good, but <strong
              >network is better</strong
            >
          </li>
          <li>
            Become a creator, <strong>you have something to say too</strong>!
          </li>
        </List>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/gym" next="/secrets/3" client:only />
</SlideLayout>
