---
import SlideLayout from "../../layouts/SlideLayout.astro";
import Title from "../../components/astro/Title.astro";
import Left from "../../components/astro/Left.astro";
import Right from "../../components/astro/Right.astro";
import List from "../../components/astro/List.astro";
import Code from "../../components/astro/Code.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";

const title = "Secret #4: mentoring";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <List>
          <li>Mentoring is a super power</li>
          <li>Give or receive mentoring!</li>
        </List>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/old" next="/secrets/5" client:only />
</SlideLayout>
