---
import SlideLayout from "../../layouts/SlideLayout.astro";
import Title from "../../components/astro/Title.astro";
import Left from "../../components/astro/Left.astro";
import List from "../../components/astro/List.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";

const title = "Secret #5: keep learning while having fun";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <List>
          <li>
            <strong
              >Continuous learning <span class="line-through">can be</span> is fun</strong
            > and <strong>open source</strong><br /> (<a
              href="https://www.arduino.cc/"
              target="_blank">Arduino</a
            >, <a href="https://www.raspberrypi.com/" target="_blank"
              >Raspberry Pi</a
            >, <a href="https://flipperzero.one/" target="_blank"
              >Flipper Zero</a
            >, <a href="https://phaser.io/" target="_blank">Phaser</a>,
            <a href="https://threejs.org/" target="_blank">three.js</a>...)
          </li>
          <li>
            <strong
              >Courses and certifications can help you boost your expertise
            </strong>
            <br />Tip: you don't have to spend a fortune
          </li>
          <li>
            Hackathons, coding challenges and contests are a good addition
          </li>
          <li>
            As a general rule, try to "stay hungry, stay foolish" but at the
            same time relevant in your industry(see <a href="/secrets/9"
              >secret #9</a
            >)
          </li>
        </List>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/4" next="/secrets/whattolearn" client:only />
</SlideLayout>
