---
import SlideLayout from "../../layouts/SlideLayout.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";
import Content from "../../components/astro/Content.astro";
import Left from "../../components/astro/Left.astro";
import List from "../../components/astro/List.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Title from "../../components/astro/Title.astro";

const title = "Secret #7: you're 40, you can do what you want";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <List>
          <li>Who's your boss? (to check) 😅</li>
          <li>Stay curious, stay weird</li>
          <li>
            YMMV, but it's still true even if you have two kids and a mortgage
          </li>
        </List>
      </Left>
    </Content>
  </SlideLeftRight>

  <KeyboardManager prev="/secrets/6" next="/secrets/8" client:only />
</SlideLayout>
