---
import SlideLayout from "../../layouts/SlideLayout.astro";
import Title from "../../components/astro/Title.astro";
import Left from "../../components/astro/Left.astro";
import Right from "../../components/astro/Right.astro";
import List from "../../components/astro/List.astro";
import Code from "../../components/astro/Code.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";

const title = "Secret #8: celebrate wins & embrace failures";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <List>
          <li>
            <strong>Failures are features, not bugs</strong>!
            <br />
            Things that go wrong can teach a valuable lesson
          </li>
          <li>
            <strong>Even the smallest wins count</strong>
            <br />
            Guess what, most of the times you're doing good! 🎉
          </li>
          <li>
            Learn to keep the impostor syndrome at bay (new slide), it doesn't
            go away
          </li>
        </List>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/7" next="/secrets/9" client:only />
</SlideLayout>
