---
import SlideLayout from "../../layouts/SlideLayout.astro";
import Title from "../../components/astro/Title.astro";
import Left from "../../components/astro/Left.astro";
import Right from "../../components/astro/Right.astro";
import List from "../../components/astro/List.astro";
import Code from "../../components/astro/Code.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";

const title = "Secret #9: stay relevant";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <List>
          <li>Solving problems VS writing code</li>
          <li>Embrace a spirit of experimentation and exploration</li>
          <li>Explore adjacent areas within software engineering...</li>
          <li>...or specialize in a niche area</li>
        </List>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/8" next="/secrets/10" client:only />
</SlideLayout>
