---
import SlideLayout from "../../layouts/SlideLayout.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";
import Title from "../../components/astro/Title.astro";
import Left from "../../components/astro/Left.astro";
import Quote from "../../components/astro/Quote.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
const title = "young folks are REALLY different... 🤠";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <Quote source="Marco, ex colleague, 24 years old">
          Who the hell is Indiana Jones?
        </Quote>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/10" next="/thankyou" client:only />
</SlideLayout>
