---
import SlideLayout from "../../layouts/SlideLayout.astro";
import Left from "../../components/astro/Left.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";
import Title from "../../components/astro/Title.astro";

const title = "My January 2024 (personal) calendar";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <div class="flex justify-center items-center">
          <img src="/images/calendar.png" alt={title} width="900" />
        </div>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/2" next="/secrets/3" client:only />
</SlideLayout>
