---
import SlideLayout from "../../layouts/SlideLayout.astro";
import Title from "../../components/astro/Title.astro";
import Left from "../../components/astro/Left.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";

const title = "How they probably look like";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <div class="flex justify-center items-center">
          <img
            src="/images/olddev.jpg"
            alt={title}
            class="rounded-full"
            width="375"
            transition:name="youngold"
          />
        </div>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/young" next="/secrets/4" client:only />
</SlideLayout>
