---
import SlideLayout from "../../layouts/SlideLayout.astro";
import Title from "../../components/astro/Title.astro";
import Left from "../../components/astro/Left.astro";
import List from "../../components/astro/List.astro";
import SlideLeftRight from "../../components/astro/SlideLeftRight.astro";
import Content from "../../components/astro/Content.astro";
import { KeyboardManager } from "../../components/react/KeyboardManager";

const title = "Limited time, infinite opportunities";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <List>
          <li>
            <strong>Choose wisely</strong>: <a
              href="https://roadmap.sh"
              target="_blank">roadmap.sh</a
            > can help you
          </li>
          <li>
            <strong>Asynchronous VS Synchronous learning</strong>: 🎧 or 📺
          </li>

          <li>
            <strong>Balance depth and breadth</strong>: <br />
            grow your skills VS exploring new technologies
          </li>
          <li>
            <strong>Know everything or know what to look for?</strong><br />
            Internet and AI to the rescue 🚑
          </li>
          <li>
            <strong>Scrum 😱 yourself</strong>: planning, implementation,
            review, retrospective
          </li>
        </List>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/secrets/5" next="/secrets/6" client:only />
</SlideLayout>
