---
import SlideLayout from "../layouts/SlideLayout.astro";
import Title from "../components/astro/Title.astro";
import Left from "../components/astro/Left.astro";
import Right from "../components/astro/Right.astro";
import List from "../components/astro/List.astro";
import SlideLeftRight from "../components/astro/SlideLeftRight.astro";
import Content from "../components/astro/Content.astro";
import { KeyboardManager } from "../components/react/KeyboardManager";

const title = "In 2012 I was 32 and this article...";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left>
        <div class="flex justify-center items-center">
          <img
            class="text"
            src="/images/oldprogrammers.png"
            alt="a screenshot of an internet browser with an article"
          />
        </div>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/about-you" next="/rabbithole" client:only />
</SlideLayout>
