---
import SlideLayout from "../layouts/SlideLayout.astro";
import Title from "../components/astro/Title.astro";
import Left from "../components/astro/Left.astro";
import Quote from "../components/astro/Quote.astro";
import SlideLeftRight from "../components/astro/SlideLeftRight.astro";
import Content from "../components/astro/Content.astro";
import { KeyboardManager } from "../components/react/KeyboardManager";

const title = "Obviously, I'm a lazy programmer...";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content transition:name="lazy">
      <Left proportions="w-full">
        <Quote
          link="https://wiki.c2.com/?LazinessImpatienceHubris"
          source="Larry Wall, creator of the Perl programming language"
        >
          <strong>Laziness</strong>: The quality that makes you go to great
          effort to reduce overall energy expenditure.
        </Quote>
      </Left>
    </Content>
  </SlideLeftRight>
  <KeyboardManager prev="/twooptions" next="/stilldev" client:only />
</SlideLayout>
