---
import SlideLayout from "../layouts/SlideLayout.astro";
import { KeyboardManager } from "../components/react/KeyboardManager";
import Content from "../components/astro/Content.astro";
import Left from "../components/astro/Left.astro";
import SlideLeftRight from "../components/astro/SlideLeftRight.astro";
import Title from "../components/astro/Title.astro";

const title = "Thank you! Get in touch!";
---

<SlideLayout pageTitle={title}>
  <SlideLeftRight>
    <Title>{title}</Title>
    <Content>
      <Left proportions="w-full">
        <div class="flex justify-center items-center flex-col">
          <img src="/images/qr.png" alt={title} width="375" />

          <p>
            <a href="https://linktr.ee/napo.dev" class="text-4xl text-sky-950"
              >https://linktr.ee/napo.dev</a
            >
          </p>
          <p class="py-4">
            <a href="https://osday2024.pages.dev" class="text-4xl text-sky-950"
              >https://osday2024.pages.dev</a
            >
          </p>
        </div>
      </Left>
      <KeyboardManager prev="/secrets/indianajones" next="/" client:only />
    </Content>
  </SlideLeftRight>
</SlideLayout>
