---
import Head from '../components/astro/Head.astro';
import FullScreenToggle from '../components/astro/FullScreenToggle.astro';

const { pageTitle, bg } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <Head pageTitle={pageTitle} />
  <body class="w-screen h-screen p-16">
    <slot /> 
    <FullScreenToggle />
  </body>
</html>
